<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lightsoftware.omeet_sc.omeet_screen_capture">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service android:name=".ScreenCaptureService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
